<!-- views/index.ejs -->
<!doctype html>
<html>
<head>
	<title>Node Authentication</title>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
	<style>
		body 		{ padding-top:80px; }
	</style>
</head>
<body>
<div class="container">
	<div class="jumbotron text-center">
		<% if (user) {%>
	 	  Greetings,  <span><%= user.facebook.name %></span>
			<p>
				<% for (i=0; i < stuffToRender.length; i++) { %>
				<div class="well">
					<h3><a href="./poll/<%= stuffToRender[i].pollID%>"><%=stuffToRender[i].title %></a></h1>
					<h4> By: <%= stuffToRender[i].username %></h3>
					<% } %>
			</p>

	 	<%} else {%>
	 		<span>Please register or login!<br> <a href='/auth/facebook' class='btn btn-primary'><span class='fa fa-facebook'></span> Facebook</a></span>

			<p>
				<% for (i=0; i < stuffToRender.length; i++) { %>
				<div class="well">
					<h3><a href="./poll/<%= stuffToRender[i].pollID%>"><%=stuffToRender[i].title %></a></h1>
					<h4> By: <%= stuffToRender[i].username %></h3>
					<% } %>
			</p>
	 		<% } %>

	</div>

</div>
<a href="/">The main Page</a>
<a href="/newpoll">Create a poll</a>
<a href="/managepolls">Manage your polls</a>

</body>
</html>
