<!doctype html>
<html>
<head>
	<title>Voting App - Profile</title>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
	<style>
		body 		{ padding-top:80px; word-wrap:break-word; }
	</style>
</head>
<body>
<div class="container">

	<div class="page-header text-center">
		<h1>Manage Polls</h1>

	</div>

	<div class="row">

		 <!-- FACEBOOK INFORMATION -->
        <div class="col-sm-12">
<!-- stuffToRender is the variable name -->
<% for (i=0; i < stuffToRender.length; i++) { %>
<div class="well">
	<h1>Title: <%=stuffToRender[i].title %></h1>
	<h3> By: <%= stuffToRender[i].username %></h3>
	<% for(var prop in stuffToRender[i].poll) {%>
		<div class="well" style="display: inline-block;">
<%= prop %>:<%= stuffToRender[i].poll[prop] %>
		</div>
<% } %>

<div>
	<div style="display: inline-block;">
	<form method="post" action="../pollAdd/">
		<INPUT TYPE="hidden" name="AddStuff" value="<%=stuffToRender[i].pollID%>:<%=user.facebook.id%>">
		<INPUT TYPE="submit" name="submit" value="Add More Options">
	</form>
</div>
<div style="display: inline-block;">
	<form method="post" action="../pollDel/">
		<INPUT TYPE="hidden" name="DelStuff" value="<%=stuffToRender[i].pollID%>:<%=user.facebook.id%>">
	<INPUT TYPE="submit" name="submit" value="Delete">
</form>


</div>
</div>
</div>
<% } %>



						<a href="/">The main Page</a>
						<a href="/newpoll">Create a poll</a>
						<a href="/managepolls">Manage your polls</a>
        </div>

	</div>

</div>
</body>
</html>
